/* LOGIN */

.formulario-login {
    width: 30%;
    height: 60%;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.formulario-login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-parte-principal-login .usuario-contrasenia {
    display: grid;
    justify-items: center;
    margin-top: 20px;
}

