/* REGISTRO */

.contenedor-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.formulario {
    background-color: #fff;
    width: 600px;
    height: 70%;
    border-radius: 20px;
    margin-bottom: 50px;
}

.formulario h1 {
    font-size: 50px;
    color: #000000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    user-select: none;
}

.formulario .contenedor-parte-principal {
    display: grid;
    grid-template-columns: 50% auto;
    margin-bottom: 10px;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
}

.formulario form .imagen input {
    display: none;
}

.formulario form .imagen:hover {
    border: 1px solid #000;
    cursor: pointer;
}

.formulario form .imagen label {
    cursor: pointer;
    user-select: none;
}

.formulario form .imagen {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}

.usuario-contrasenia {
    display: grid;
}

.usuario-contrasenia input {
    background-color: #D9D9D9;
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding: 3px;
    height: 50px;
    width: 80%;
    font-size: 18px;
}

.formulario .contenedor-parte-inferior {
    display: grid;
    justify-content: center;
    margin-top: 10px;
}

.contenedor-parte-inferior input {
    width: 475px;
    height: 50px;
    background-color: #D9D9D9;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #000;
    margin: 7px 0 10px 0;
    padding: 3px;
}

.contenedor-envio {
    display: grid;
    justify-content: center;
}

.contenedor-envio input {
    width: 100px;
    height: 30px;
    margin: 20px 0 20px 0;
}

.contenedor-envio input:hover {
    cursor: pointer;
}

.btn-enviar {
    background-color: #000;
    color: #fff;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    transition: .1s;
}

.btn-enviar:hover {
    transition: .1s;
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0, 0.5);
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
}

.contenedor-envio a {
    display: flex;
    justify-content: center;
}

.contenedor-a a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.contenedor-a a:hover {
    cursor: pointer;
    font-weight: bold;
}


